<h3 class="ui header">{{t "forms.u-k-t-i-o-app-oborudovanie-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.invNomer
      class=(if (v-get validationObject "invNomer" "isInvalid") "error")
      label=(t "forms.u-k-t-i-o-app-oborudovanie-e.invNomer-caption")
      data-test-u-k-t-i-o-app-oborudovanie-e-invNomer=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "invNomer" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.naimenovanie
      class=(if (v-get validationObject "naimenovanie" "isInvalid") "error")
      label=(t "forms.u-k-t-i-o-app-oborudovanie-e.naimenovanie-caption")
      data-test-u-k-t-i-o-app-oborudovanie-e-naimenovanie=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "naimenovanie" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.harakteristiki
      class=(if (v-get validationObject "harakteristiki" "isInvalid") "error")
      label=(t "forms.u-k-t-i-o-app-oborudovanie-e.harakteristiki-caption")
      data-test-u-k-t-i-o-app-oborudovanie-e-harakteristiki=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "harakteristiki" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.u-k-t-i-o-app-oborudovanie-e.dataPokupki-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dataPokupki
      class=(if (v-get validationObject "dataPokupki" "isInvalid") "error")
      data-test-u-k-t-i-o-app-oborudovanie-e-dataPokupki=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "dataPokupki" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.cena
      class=(if (v-get validationObject "cena" "isInvalid") "error")
      label=(t "forms.u-k-t-i-o-app-oborudovanie-e.cena-caption")
      data-test-u-k-t-i-o-app-oborudovanie-e-cena=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "cena" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.u-k-t-i-o-app-oborudovanie-e.status-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "u-k-t-i-o-app-t-status")
      value=model.status
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "status" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.u-k-t-i-o-app-oborudovanie-e.tipOborudovaniya-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.tipOborudovaniya
      class=(if (v-get validationObject "tipOborudovaniya" "isInvalid") "error")
      displayAttributeName="naimenovanie"
      autocomplete=true
      relationName="tipOborudovaniya"
      projection="TipOborudovaniyaL"
      title=(t "forms.u-k-t-i-o-app-oborudovanie-e.tipOborudovaniya-caption")
      readonly=readonly
      componentName="tipOborudovaniyaLookup"
      class=(if (v-get validationObject "tipOborudovaniya" "isInvalid") "error")
      data-test-u-k-t-i-o-app-oborudovanie-e-tipOborudovaniya=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "tipOborudovaniya" "message")}}
  </div>

  <div class="field">
    <label>{{t "forms.u-k-t-i-o-app-oborudovanie-e.sotrudnik-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.sotrudnik
      class=(if (v-get validationObject "sotrudnik" "isInvalid") "error")
      displayAttributeName="fIO"
      autocomplete=true
      relationName="sotrudnik"
      projection="SotrudnikL"
      title=(t "forms.u-k-t-i-o-app-oborudovanie-e.sotrudnik-caption")
      readonly=readonly
      componentName="sotrudnikLookup"
      class=(if (v-get validationObject "sotrudnik" "isInvalid") "error")
      data-test-u-k-t-i-o-app-oborudovanie-e-sotrudnik=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "sotrudnik" "message")}}
  </div>

</form>